[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors"]
	path = bundle/vim-colors
	url = git://github.com/spf13/vim-colors.git
