[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors"]
	path = bundle/vim-colors
	url = git://github.com/spf13/vim-colors.git
[submodule "bundle/vim-color-solarized"]
	path = bundle/vim-color-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
